.display-date {
  color: #ffd868;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ffd868;
  background: #0494AA;
}

.display-date:hover {
  background: #ffd868;
  color: #0494AA;
  cursor: pointer;
}

.display-time {
  background-color: #0494AA;
  color: #ffd868;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ffd868;
  justify-content: center;
}

.display-time:hover {
  background: #ffd868;
  color: #0494AA;
  cursor: pointer;
}
